<app-navbar></app-navbar>
<body>
  <section class="grid3">
    <div class="grid3-item">
      <img class="vampiro" src="/assets/Creepyhard_battle_war_lucifer_vs_god_in_the_sky_almost_black_ho_9e5923a2-abdf-4a7a-a507-9f374b927e67.png">
      <p>Legenda</p>
    </div>
    <div class="grid3-item">
      <img class="vampiro" src="/assets/castelovampiro.png">
      <p>Legenda</p>
    </div>
    <div class="grid3-item">
      <img class="vampiro" src="/assets/castelovampiro.png">
      <p>Legenda</p>
    </div>
  </section>

  <table mat-table [dataSource]="users" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let users"> {{ users.id }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let users"> {{users.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let users"> {{users.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef> Balance </th>
      <td mat-cell *matCellDef="let users"> {{users.balance}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</body>
