<app-navbar></app-navbar>
<body>
  <section class="grid3">
    <div class="grid3-item">
      <img class="porra" src="/assets/Creepyhard_battle_war_lucifer_vs_god_in_the_sky_almost_black_ho_9e5923a2-abdf-4a7a-a507-9f374b927e67.png">
      <p>Legenda</p>
    </div>
    <div class="grid3-item">
      <img class="vampiro" src="/assets/castelovampiro.png">
      <p>Legenda</p>
    </div>
    <div class="grid3-item">
      <img class="vampiro" src="/assets/castelovampiro.png">
      <p>Legenda</p>
    </div>
  </section>
</body>
